<div class="dashboard-main" style="overflow: hidden">
  <div class="PageTitleSection">
    <div class="TitleFrame">
      <span class="backarrow material-symbols-outlined" routerLink="/dashboard">
        keyboard_backspace
      </span>
      <span class="Title Headline3"> 
        <span>Dashboard</span>/<span class="Title2">New Dashboard</span>
         </span>
      <div class="HeaderIcons">
        <div class="topIcons_Text btn col">
          <span class="topIcons material-symbols-outlined pr-2 pb-1 pt-1">
            post_add
          </span>
          <span class="IconText">SAVE</span>
        </div>

        <div class="topIcons_Text btn">
          <span class="topIcons material-symbols-outlined pr-2 pb-1 pt-1">
            more_vert
          </span>
          <span class="IconText">MORE</span>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row row no-gutters">
    <iv-dashboard-sidebar class="col col-lg-2"></iv-dashboard-sidebar>
    <iv-brand-dashboard class="items col-lg-10"></iv-brand-dashboard>
    
  </div>
</div>
