<h1 mat-dialog-title class="change">Add New Theme</h1>
<div mat-dialog-content>
    <div class="form-group col-6">
        <label for="" class="Password_Label">Add a Theme Name</label>
        <input type="text" class="form-control Password" placeholder="Tag Name01">
      </div>
      <div class="form-group col-6">
        <label for="" class="Password_Label">Add Keywords</label>
        <input type="text" class="form-control Password1" placeholder="McD or BK or Starbucks">
      </div>
      
</div>
<hr>
<div mat-dialog-actions class="changes">
  <button mat-button class="cancel" (click)="onNoClick()">Cancel</button>
  <button mat-button class="update" cdkFocusInitial>Add Theme</button>
</div>
