<div class="d-flex flex-row authorDashboard">

    <iv-dashboard-sidebar2></iv-dashboard-sidebar2>
    <div
      class="container-fluid card author-dashboard "
    
    >
      <!-- *ngIf="show=='tsg' else elseBlock" -->
      <div class="brand card-body">
        <div class="topDashboard">
          <span class="Dashboard-Name"> DashBoard Name </span>
          <div class="download">
            <select name="" id="" class="select">
              <option selected>DownLoad</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label class="share" for="">Share</label>
            <span class="material-symbols-outlined">
                more_vert
                </span>          </div>
        </div>
        <div class="Search_time">
          <div class="search d-flex flex-column">
            <div class="d-flex flex-row">
              <label class="Select_Search"> Select Search </label>
              <span class="icon-1 material-symbols-outlined">
                arrow_drop_down
                </span>            </div>
            <div class="d-flex flex-row">
              <button class="subSearch">Covid Vaccine</button>
              <span class="edit"> Edit Search Query </span>
            </div>
          </div>
          <div class="time">
            <div class="d-flex flex-row">
              <label class="Timeline" for="Timeline"> Timeline </label>
              <span class="icon-2 material-symbols-outlined">
                arrow_drop_down
                </span>            </div>
            <div class="d-flex flex-row time_days">
              <label class="label" for="">1D</label>
              <label class="label" for="">1W</label>
              <div class="one_month">
                <label class="label" for="">1M</label>
              </div>
              <label class="label" for="">3M</label>
              <label class="label" for="">6M</label>
              <label class="label" for="">1Y</label>
              <label class="label" for="">Custom</label>
            </div>
          </div>
        </div>
    
    
    
        <div class="Filters">
          <div class="All-DownBoxs">
            <label class="Media-Type">
              Media Type
            </label>
            <span class="arrow-icon material-symbols-outlined">
                arrow_drop_down
                </span>    
            <div class="All-Downbuttons">
              <div class="SelectionChips">
                <label class="SmallText">
                  All Media Types
                </label>
              </div>
              <div class="SelectionChips">
                <span class="dots">
                  •••
                </span>
              </div>
    
            </div>
          </div>
          <div class="All-DownBoxs">
            <label class="Media-Type">
             Location
            </label>
            <span class="arrow-icon material-symbols-outlined">
                arrow_drop_down
                </span>    
    
            <div class="All-Downbuttons">
              <div class="SelectionChips">
                <label class="SmallText">
                  All Location & Regions
                </label>
              </div>
              <div class="SelectionChips">
                <span class="dots">
                  •••
                </span>
              </div>
    
            </div>
          </div>
          <div class="All-DownBoxs">
            <label class="Media-Type">
             Language
            </label>
            <span class="arrow-iconmaterial-symbols-outlined">
                arrow_drop_down
                </span>    
    
            <div class="All-Downbuttons">
              <div class="SelectionChips">
                <label class="SmallText">
                  All Languages
                </label>
              </div>
              <div class="SelectionChips">
                <span class="dots">
                  •••
                </span>
              </div>
    
            </div>
          </div>
          <div class="All-DownBoxs">
            <label class="Media-Type">
              Sentiment
            </label>
            <span class="arrow-icon material-symbols-outlined">
                arrow_drop_down
                </span>
    
            <div class="All-Downbuttons">
              <div class=" positive">
                <label class="SmallText-positive ">
                 Positive
                </label>
              </div>
              <div class=" positive">
                <label class="SmallText-positive ">
                  Negative
                </label>
              </div>
              <div class="positive">
                <label class="SmallText-positive">
                  Neutral
                </label>
              </div>
    
    
            </div>
          </div>
    
        </div>
        <hr>
    <div class="button">
      <button class="generate-button">
        Generate Campaign Comparitive Analysis
      </button>
    </div>
      </div>
    </div>
    </div>
    