<div class="d-flex flex-row">
    <iv-settings></iv-settings>
    <div class="Results-MainContainer">
  
      <mat-tab-group>
        <mat-tab label="Subscription Details">
          <iv-user-subscripition></iv-user-subscripition>
        </mat-tab>
  
        <mat-tab label="Manage Users" >
  
          <iv-settings-manageruser></iv-settings-manageruser>
  
        </mat-tab>
        <mat-tab label="Usage & History"> </mat-tab>
        <mat-tab label="Billing"> </mat-tab>
  
        <mat-tab label=" Profile & Security">
  <iv-user-profile></iv-user-profile>
          <!-- <div class="top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBcg5OV7m4Ojt-6P7o0JwzgBcZosZwisJw0A&usqp=CAU" alt="" class="profile-img">
                <label class="Jessica-Robinson">
                    Jessica Robinson
                  </label>
                  <span class="justinerobinsoninfovisioncom SmallText">
                    justine.robinson@infovision.com
                  </span>
                  <span class="Access-Level-Super-Admin SmallText">
                    Access Level : Super Admin
                  </span>
                <div class="Line-179"></div>
                  <div class="Button-Tertiary9">
                    <label class="Change-Password btn" (click)="openPopup()">
                      Change Password
                    </label>
                  </div>
                  <div class="Button-Tertiary8">
                    <label class="Edit-Profile btn" (click)="editPopup()">
                      Edit Profile
                    </label>
                  </div>
                  </div>
                  <div class="Button-Tertiary55">
                    <label class="need" ><button>
                      <label class="callback">Need Help?</label>
                      Request Callback
                    </button></label>
                  </div> -->
  
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- <div class="Line-178"></div> -->
  </div>
  <!-- </div> -->
  <!-- </div> -->
  