<div class="container">
    <div class="subscriptionHeading d-flex flex-row justify-content-between">
      <div class="heading">
        <span class="AlphametricX ">
          AlphametricX - Pro
        </span>
          <span class=" Headline">Traditional Media</span>
      </div>
      <div class="d-flex flex-column">
        <button class="activeButton">Active</button>
        <span class="ExpiresDate">
          Expires on
          <span class="text-style-1">20 Jul 2023</span>
        </span>
      </div>
    </div>
    <div class="discriptionDiv d-flex flex-row justify-content-between">
      <span class="discription">
        Your subscription includes access to advanced search,  standard dashboards, advanced dashboards and newsletters
      </span>
      <button class="upgradeButton">Upgrade Plan</button>
    </div>
    <hr class="hr-1">
    <div class="volumeDetails d-flex flex-row">
      <div class="d-flex flex-column numberDetails">
        <span class="outCome">
          <span class="resultNum">10</span>/20
        </span>
        <span class="Active-Users ">
          Active
        Users
        </span>
      </div>
      <div class="d-flex flex-column numberDetails">
        <span class="outCome">
          <span class="resultNum">1.2</span>/20Mn
        </span>
        <span class="Active-Users Subtitle2">
          Search Volume
        </span>
      </div>
      <div class="d-flex flex-column numberDetails">
        <span class="outCome">
          <span class="resultNum">10</span>/50
        </span>
        <span class="Active-Users Subtitle2">
         Saved Searches
        </span>
      </div>
      <div class="d-flex flex-column numberDetails">
        <span class="outCome">
          <span class="resultNum">10</span>/50
        </span>
        <span class="Active-Users Subtitle2">
         Saved Dashboards
        </span>
      </div>
    </div>
    <hr class="hr-2">
    <div class="footer">
      <label><button class="need">
        <label>Need Help?</label>
        Request Callback
      </button></label>
    </div>
  </div>
  