<h1 mat-dialog-title class="change">Change Password</h1>
<div mat-dialog-content>
    <div class="form-group col-6">
        <label for="" class="Password_Label">Enter your current password</label>
        <input type="password" class="form-control Password" placeholder="Current Password">
      </div>
      <div class="form-group col-6">
        <label for="" class="Password_Label">Enter new password</label>
        <input type="password" class="form-control Password" placeholder="New Password">
      </div>
      <div class="form-group col-6">
        <label for="" class="Password_Label">Confirm new password</label>
        <input type="password" class="form-control Password" placeholder="Confirm Password">
      </div>
</div>
<div mat-dialog-actions class="changes">
  <button mat-button class="cancel" (click)="onNoClick()">Cancel</button>
  <button mat-button class="update" cdkFocusInitial>Update</button>
</div>
