<div class="widgets">
    <div class="Title">
      <Label class="Selectwidget"> Select Widget for Dashboard</Label>
    </div>
    <div class="icluded">
      <label for=""> Traditional Media Widgets </label>
    </div>
    <div class="addOn d-flex flex-row">
      <div class="outlet">
        <img src="../../../../assets/widget/icon.png" alt="image" />
        <label class="article" for="">Voulme Analysis</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/1.png" alt="image" />
        <label class="article" for="">Sentiment Analysis</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/1re.png" alt="image" />
        <label class="article" for="">Sentiment Over Time</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/2.png" alt="image" />
        <label class="article" for="">Coverage Over Time</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/3.png" alt="image" />
        <label class="article" for="">Media Type</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/4.png" alt="image" />
        <label class="article" for="">Reach Over Time</label>
      </div>
      <div class="outlet-1">
        <img src="../../../../assets/widget/9.png" alt="image" />
        <label class="article" for="">Article Sentiment</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/6.png" alt="image" />
        <label class="article" for="">SOV</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/round.png" alt="image" />
        <label class="article" for="">Coverage by Journalist</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/5.png" alt="image" />
        <label class="article" for="">Coverage by Source</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/2.png" alt="image" />
        <label class="article" for="">SOV by Media Type</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/4.png" alt="image" />
        <label class="article" for="">Companies Mentioned</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/1.png" alt="image" />
        <label class="article" for="">Top Journalist by Sentiment</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/3.png" alt="image" />
        <label class="article" for="">Top Source by Sentiment</label>
      </div>
      <div class="outlet">
        <img src="../../../../assets/widget/6.png" alt="image" />
        <label class="article" for="">Popular Topics</label>
      </div>
    </div>
    <hr>
    <div class="buttons ">
      <button class="closeButton btn " (click)="closeDialog()">Close</button>
      <button class="UpdateButton btn btn-primary">Update Dashboard</button>
    </div>
  </div>
