<div class="Advanced-Dashboard-Author-Impact d-flex flex-column">
  <div class="PageTitleSection">
    <div class="TitleFrame">
      <span class="backarrow material-symbols-outlined" routerLink="/dashboard">
        keyboard_backspace
        </span>
      <span class="Title Headline3"> Advanced Dashboard </span>
      <div class="HeaderIcons">
        <div class="topIcons_Text btn">
          <span class="topIcons material-symbols-outlined"> post_add </span>
          <span class="IconText">SAVE</span>
        </div>

        <div class="topIcons_Text btn">
          <span class="topIcons material-symbols-outlined"> more_vert </span>
          <span class="IconText">MORE</span>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row">
    <nav class="container LeftPannel">
      <!-- <div class="xAdvancedBack btn bg-white" routerLink="/dashboard">
        <div class="Path-160">
          <div class="Group-842">
            <div class="Frame">
              <span class="Back Subtitle2"> Back </span>
            </div>
          </div>
        </div>
      </div> -->

      <div
        class="card btn bg-white"
        [routerLink]="['/new-dasboard/advanced-dashboard']"
      >
        <div class="card-body brand">
          <div class="Group-1">
            <img
              src="../../../../assets/Icons/24x24/ChartSample.png"
              alt=""
              class=""
            />
            <label for="" class="subtitle">Campaign Moniter</label>
          </div>
          <div class="details">
            <span class="info1">
              Ideal for generating Select standard template to Lorem Ipsum is
              simply dummy text
            </span>
            <div class="template-helper">
              <span class="chart"> 6 Charts Included </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card btn bg-white"
        [routerLink]="['/new-dasboard/author-dashboard']"
      >
        <div class="card-body brand">
          <div class="Group-1">
            <img
              src="../../../../assets/Icons/24x24/ChartSample.png"
              alt=""
              class=""
            />
            <label for="" class="subtitle">Author Impact</label>
          </div>
          <div class="details">
            <span class="info1">
              Ideal for generating Select standard template to Lorem Ipsum is
              simply dummy text
            </span>
            <div class="template-helper">
              <span class="chart"> 6 Charts Included </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card btn bg-white"
        [routerLink]="['/new-dasboard/author-dashboard']"
      >
        <div class="card-body brand">
          <div class="Group-1">
            <img
              src="../../../../assets/Icons/24x24/ChartSample.png"
              alt=""
              class=""
            />
            <label for="" class="subtitle">Sentiment By Themes </label>
          </div>
          <div class="details">
            <span class="info1">
              Ideal for generating Select standard template to Lorem Ipsum is
              simply dummy text
            </span>
            <div class="template-helper">
              <span class="chart"> 6 Charts Included </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card btn bg-white"
        [routerLink]="['/new-dasboard/author-dashboard']"
      >
        <div class="card-body brand">
          <div class="Group-1">
            <img
              src="../../../../assets/Icons/24x24/ChartSample.png"
              alt=""
              class=""
            />
            <label for="" class="subtitle">Message Congruence</label>
          </div>
          <div class="details">
            <span class="info1">
              Ideal for generating Select standard template to Lorem Ipsum is
              simply dummy text
            </span>
            <div class="template-helper">
              <span class="chart"> 6 Charts Included </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="card btn bg-white"
        [routerLink]="['/new-dasboard/author-dashboard']"
      >
        <div class="card-body brand">
          <div class="Group-1">
            <img
              src="../../../../assets/Icons/24x24/ChartSample.png"
              alt=""
              class=""
            />
            <label for="" class="subtitle">PR Impact</label>
          </div>
          <div class="details">
            <span class="info1">
              Ideal for generating Select standard template to Lorem Ipsum is
              simply dummy text
            </span>
            <div class="template-helper">
              <span class="chart"> 6 Charts Included </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
