.datepicker{
  width: auto;
  height: auto;
  padding: 30px;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--bw-white) !important;
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  border-radius: 3px;
}

.checkBox{
  margin-top: -20px;
  margin-left: auto;
}

.dailyButton{
  margin-top: 20px;
  margin-right:auto;
  margin-left: -70px;

}

.btn-primary{
  margin: 72px 0px 0px -80px;
}

.active {
  background-color: green;
}

.inactive {
  background-color: gray;
}
