<div class="Settings-landing">

    <div class="Frame-1758">
        <div class="sideNavItem" routerLink="/setting-myaccount">
            <div class="Frame-1768" >
                <label class=" btn"  >
                    My Account
                  </label>
            </div>
        </div>
        <!-- <div class="sideNavItem" routerLink="/manage-users"
       >
            <div class="Frame-1768" >
                <label class=" btn">
                    Manage Users
                  </label>
            </div>
        </div> -->
        <div class="sideNavItem" routerLink="/setting-notifications">
            <div class="Frame-1768">
                <label class="Subtitle2 btn">
                    Notifications
                  </label>
            </div>
        </div>
        <div class="sideNavItem" routerLink="/setting-tags"  [style.color]="toggle">
            <div class="Frame-1768">
                <label class="Subtitle2 btn">
                    Tags
                  </label>
            </div>
        </div>
         <div class="sideNavItem" routerLink="/setting-themes">
            <div class="Frame-1768">
                <label class="Subtitle2 btn">
                    Themes
                  </label>
            </div>
        </div>
    </div>

</div>
