
.matmen{
    margin-top: -25px;
    cursor: pointer;
}

.resInFig{
  width: auto;
}

.down{
    font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.3px;
}

.p-2 {
  padding: .75rem!important;
}
.p-4 {
  padding: 1.25rem!important;
}

.risinfig{
  width: auto;
}
