<div class="back">
    <h1 mat-dialog-title class="useraccess">Delete User </h1>
    <div  mat-dialog-content>
      <div class="Ellipse-247">
      <span class="AC">
        AC
      </span>
    </div>
    <div class="name">
      <label class="Anuran-Chakraborty">
        Anuran Chakraborty
      </label>
      <span class="anuranchakrabortyinfovisioncom SmallText">
        anuran.chakraborty@infovision.com
      </span>
    </div> 
  
    <div class="drop d-flex flex-row">
      <label class="access">
        Access Level
      </label>
    <mat-form-field appearance="fill" class="formfield">
      <mat-label>Access Level</mat-label>
      <mat-select>
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    </div>
    <div mat-dialog-actions>
      <button class="cancel btn" mat-button (click)="onNoClick()">Cancel</button>
      <button class="update btn" mat-button  cdkFocusInitial>Update</button>
    </div>
    </div>
  
  
  
  