<div class="d-flex flex-row">
    <iv-settings></iv-settings>
    
    
    <div class="container">
      <mat-tab-group class="matTabGroup">
        <mat-tab label="Notifications" >
          <div class="heading d-flex flex-column">
            <span class="Notification-Settings ">
              Notification Settings
            </span>
            <span class="discription">
              Select the kinds of notifications you get about your activities and recomendations
            </span>
          </div>
          <hr>
          <div class="emailNotification d-flex flex-row">
            <div class="emailDiscription d-flex flex-column">
              <label class="Email">
                Email Notifications
              </label>
              <span class="discription-1">
                Get emails to notify whats goin on when you are not online.
              </span>
            </div>
            <div class="toggleUpdates">
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    News and Updates
                  </label>
                  <span class="News-about">
                    News about the product and feature updates
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Tips and Tutorials
                  </label>
                  <span class="News-about">
                    Tips and tricks to make the most out of the tool
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Offers
                  </label>
                  <span class="News-about">
                    Personalised offers
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Reminders
                  </label>
                  <span class="News-about">
                    Remainders on your subscription and usage
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Team Activities
                  </label>
                  <span class="News-about">
                    Updates when team shares and downloads
                  </span>
                </div>
              </div>
            </div>
          </div>
    
          <!--  2nd portion-->
          <hr class="hr">
          <div class="emailNotification d-flex flex-row">
            <div class="emailDiscription d-flex flex-column">
              <label class="Email">
                Desktop Notifications
              </label>
              <span class="discription-1">
                Get push notifications in app to findout whats going on when you are online.
              </span>
            </div>
            <div class="toggleUpdates">
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    News and Updates
                  </label>
                  <span class="News-about">
                    News about the product and feature updates
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Tips and Tutorials
                  </label>
                  <span class="News-about">
                    Tips and tricks to make the most out of the tool
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Offers
                  </label>
                  <span class="News-about">
                    Personalised offers
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Reminders
                  </label>
                  <span class="News-about">
                    Remainders on your subscription and usage
                  </span>
                </div>
              </div>
              <div class="toggleGroup d-flex flex-row">
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <div class="toggleTitle d-flex flex-column">
                  <label class="News-and-Updates">
                    Team Activities
                  </label>
                  <span class="News-about">
                    Updates when team shares and downloads
                  </span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="Button-Tertiary d-flex flex-row">
            <label class="Need">Need Help?</label>
      <a href="#">Request Callback</a>
          </div>
        </mat-tab>
    
        <!-- Mat-tab 2 -->
    
    
    
        <mat-tab label="Alerts">
          <div class="heading d-flex flex-column">
            <span class="Notification-Settings ">
             Alert you have setup
            </span>
            <span class="discription">
              Alerts configured for spike in volume and sentiment changes
            </span>
          </div>
          <hr>
          <div class="totalCards d-flex flex-row">
          <!-- 1st card -->
            <div class="Alert-card card">
            <div class="card-body d-flex flex-column">
              <div class="header ">
                <span class="Covid-Vaccine ">
                  Covid Vaccine
                </span>
                <button class="matMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu  #menu="matMenu">
                  <button mat-menu-item>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </div>
              <span class="discription-2">
                This will the space for description and additional information about the
              saved search or whichever...
              </span>
              <div class="activeAlert d-flex flex-column">
                <span class="Alerts-Active">
                  Alerts Active for
                </span>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
              </div>
            </div>
          </div>
          <!-- 2nd card -->
          <div class="Alert-card card">
            <div class="card-body d-flex flex-column">
              <div class="header ">
                <span class="Covid-Vaccine ">
                  Gucci
                </span>
                <button class="matMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu  #menu="matMenu">
                  <button mat-menu-item>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </div>
              <span class="discription-2">
                This will the space for description and additional information about the
              saved search or whichever...
              </span>
              <div class="activeAlert d-flex flex-column">
                <span class="Alerts-Active">
                  Alerts Active for
                </span>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume">
                  Search volume increases by 15%
                </label>
              </div>
            </div>
          </div>
    
    
          <!-- 3rd card -->
    
          <div class="Alert-card card">
            <div class="card-body d-flex flex-column">
              <div class="header ">
                <span class="Covid-Vaccine ">
                  Meta Quest
                </span>
                <button class="matMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu  #menu="matMenu">
                  <button mat-menu-item>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </div>
              <span class="discription-2">
                This will the space for description and additional information about the
              saved search or whichever...
              </span>
              <div class="activeAlert d-flex flex-column">
                <span class="Alerts-Active Paused">
                  Alerts Active for
                </span>
                <label class="Search-volume Paused">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume Paused">
                  Search volume increases by 15%
                </label>
                <label class="Search-volume Paused">
                  Search volume increases by 15%
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-1">
        <div class="Button-Tertiary d-flex flex-row">
          <label class="Need">Need Help?</label>
    <a href="#">Request Callback</a>
        </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    
    </div>
    