<div style="position:relative">
    <div class="card me-2">
        <div class="card-body">
            <div class="ddl-label mb-1 d-flex flew-row justify-content-between">{{label}}
              <span class="icon-1 material-symbols-outlined">
                arrow_drop_down
              </span>
            </div>
            <span class="selection-chips">1D</span>
            <span class="selection-chips">1W</span>
            <span class="selection-chips">1M</span>
            <span class="selection-chips">3M</span>
            <span class="selection-chips">6M</span>

        </div>

    </div>
</div>
