<!-- Compentitive and Peoples code -->
<div class="PageTitleSection">
  <div class="TitleFrame">
    <span class="backarrow material-symbols-outlined" routerLink="/dashboard">
      keyboard_backspace
    </span>
    <span class="Title Headline3"> Dashboard/New DashBoard </span>
    <div class="HeaderIcons">
      <div class="topIcons_Text btn col">
        <span class="topIcons material-symbols-outlined pr-2 pb-1 pt-1">
          post_add
        </span>
        <span class="IconText">SAVE</span>
      </div>

      <div class="topIcons_Text btn">
        <span class="topIcons material-symbols-outlined pr-2 pb-1 pt-1">
          more_vert
        </span>
        <span class="IconText">MORE</span>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row competitiveDashboard">
  <iv-dashboard-sidebar></iv-dashboard-sidebar>

  <div class="container-fluid card comptetive-dashboard">
    <div class="brand card-body">
      <div class="topDashboard">
        <span class="Dashboard-Name"> DashBoard Name </span>
        <div class="download">
          <select name="" id="" class="select">
            <option selected>DownLoad</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label class="share" for="">Share</label>
          <span class="icon material-symbols-outlined"> more_vert </span>
        </div>
      </div>
      <div class="Search_time">
        <div
          class="compentitive_search d-flex flex-column"
          (click)="openSelectSearch()"
        >
          <div class="d-flex flex-row">
            <label class="Select_Search"> Select Search </label>
            <span class="icon-1 material-symbols-outlined">
              arrow_drop_down
            </span>
          </div>
          <div class="d-flex flex-row" *ngIf="savedSearch">
            <button class="subSearch covid">{{ savedSearch.savedas }}</button>
            <span class="edit"> Edit Sources </span>
          </div>
        </div>
        <div class="comp_keywords">
          <label class="Add-Competition-Keywords"> Add Person Name </label>
          <input class="person" type="text" id="person" [(ngModel)]="person" name="person" />
          <!-- <iv-chips
        [(ngModel)]="comp_items"
       [removable]="true"
       >
        </iv-chips> -->
        </div>
        <div class="time">
          <div class="d-flex flex-row">
            <label class="Timeline" for="Timeline"> Timeline </label>
            <span class="icon-2 material-symbols-outlined">
              arrow_drop_down
            </span>
          </div>
          <div class="d-flex flex-row time_days">
            <button class="btn label" for="">1D</button>
            <button class="btn label" for="">1W</button>
            <button class="btn label" for="">1M</button>
            <button class="btn label" for="">3M</button>
            <button class="btn label" for="">6M</button>
            <button class="btn label" for="">1Y</button>
            <button class="btn label" for="">Custom</button>
          </div>
        </div>
      </div>
      <div class="widgets">
        <div class="icluded">
          <label for=""> Included Widgets </label>
          <span class="icon-3 material-symbols-outlined">
            arrow_drop_down
          </span>
        </div>
        <div class="addOn d-flex flex-row">
          <div class="outlet">
            <img src="../../../../assets/widget/1.png" alt="image" />
            <label class="article" for="">SOV</label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/icon.png" alt="image" />
            <label class="article" for="">Article Sentiment </label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/3.png" alt="image" />
            <label class="article" for="">Coverage Over Time</label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/4.png" alt="image" />
            <label class="article" for="">Reach Over Time</label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/5.png" alt="image" />
            <label class="article" for="">Coverage by Journalist</label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/6.png" alt="image" />
            <label class="article" for="">Coverage by Source</label>
          </div>
          <div class="outlet">
            <img src="../../../../assets/widget/1re.png" alt="image" />
            <label class="article" for="">SOV by Media Type</label>
          </div>
          <div class="outlet-1" (click)="openBottomSheet()">
            <img src="../../../../assets/widget/add.png" alt="image" />
            <label class="article" for="">Add More</label>
          </div>
        </div>
      </div>
    </div>
    <div class="div_button ">
      <button class="comp_button" (click)="getUserFormData()">
        Generate People Analysis
      </button>
    </div>
  
    <!-- </div> -->
    <div class="widgetContainer">
      <ng-container *ngFor="let widget of widgets; let i = index">
        <iv-tableau
          serverUrl="https://devamx.com"
          report="{{ widgetName[i] }}"
          [ticket]="widget"
          site="site01"
          [filters]="dashboardFilters()"
          style="display: inline-flex; margin-top: 12px; margin-bottom: -5px; margin-left: 0px"
          [options]="options"
          [id]="i"
        >
        </iv-tableau>
      </ng-container>
    </div>
  </div>

  <!-- </div> -->
</div>
