.change{
    width: 189px;
    height: 28px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 15px;
    line-height: 1.27;
    letter-spacing: -0.44px;
    text-align: left;
    color: var(--bw-black);
  }

.cancel {
  background-color: #e4e9fb;
  color: var(--brand-alpha-blue);
  border: none;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  margin-top: 45px;
  margin-left: 370px;
  width: 114px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
}

.update {
  background-color: var(--brand-alpha-blue);
  color: var(--bw-white);
  border: none;
  font-family: Inter;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  margin-left: 500px;
  margin-top: -45px;
  width: 130px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
}

.changes {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Password_Label {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  margin-bottom: 10px;
  /* margin-top: 12px; */
}

.Password {
  width: 232px;
  height: 45px;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  margin-bottom: 12px;
}

.name{
    display: flex;
    flex-direction: row;
}

.email{
    display: flex;
    flex-direction: row;
}

.access{
    width: 80px;
    height: 16px;
    margin-top: 40px;
    flex-grow: 0;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: -0.26px;
    text-align: left;
    color: var(--bw-grey-04);
  }
  
  .formfield{
    /* height: 30px; */
    width: 232px;
    margin-top: 60px;
    margin-left: -80px;
    background-color: white;
  }
  