<div class="containers">
    <div class="profile d-flex flex-row" (click)="editPopup()">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBcg5OV7m4Ojt-6P7o0JwzgBcZosZwisJw0A&usqp=CAU" alt="" class="userImg">
      <div class="userDetails d-flex flex-column">
        <label class="Jessica-Robinson">
          Jessica Robinson
        </label>
        <span class="userId">
          justine.robinson@infovision.com
        </span>
        <span class="userId">
          Access Level : Super Admin
        </span>
      </div>
    </div>
  
    <hr>
  
    <div class="d-flex flex-row">
      <button class="userPassword text" (click)="openPopup()">Change Password</button>
      <button class="userPassword userEditPro" (click)="editPopup()">Edit Profile</button>
    </div>
  
    <!-- <div class="Footer">
      <label for="" class="NeedHelp">Need Help?</label>
      <a href="#">Request Callback</a>
    </div> -->
    <div class="Button-Tertiary55 need">
      <label class="needs" ><button>
        <label class="callback">Need Help?</label>
        Request Callback
      </button></label>
    </div>
  </div>
  